---
---
/* CSS HEX 
--azure-web: #EFF7F7ff;
--celadon: #BBD7B4ff;
--dutch-white: #DEDBB8ff;
--white: #FFFFFFff;
--rosy-brown: #C0A3A7ff; */

/* Palette 2
--rosy-brown: #C0A3A7ff;
--white: #FFFFFFff;
--night: #0F1014ff;
--keppel: #48AF9Cff;
--dutch-white: #DEDBB8ff;*/

$themeColor: #BBD7B4ff;
$primaryDark: #C0A3A7ff;
$accentDark: #ffffff;
$lightGray: #48AF9Cff;
$texts: #000;

@import "jekflix";
