---
---
/* CSS HEX 
--azure-web: #EFF7F7ff;
--celadon: #BBD7B4ff;
--dutch-white: #DEDBB8ff;
--white: #FFFFFFff;
--rosy-brown: #C0A3A7ff; */

$themeColor: #BBD7B4ff;
$primaryDark: #C0A3A7ff;
$accentDark: #ffffff;
$lightGray: #f2f2f2;
$texts: #333333;

@import "jekflix";
